@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&display=swap');

*{
  
padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  
}
body{
  background-color: rgb(210, 147, 160);
  
  height: 100vh;
  display: flex;
  justify-content: center ;
  align-items: center;
}
.digital-clock{
color: #fff;
background-color: #2d2f41;
width: 75%;
height: 70%;
padding: 20px 45px;
box-shadow: 0 10px 25px #2d2f41;
border-radius: 10px;

display: flex;
  justify-content: center ;
  align-items: center;
  flex-direction: column;
}
.time{
  display: flex;
  justify-content: center ;
  align-items: center;
}
.hours , .minutes , .seconds, .colon {
  display: flex;
  justify-content: center ;
  align-items: center;
  font-weight: 500;
font-size: 200px;
padding: 0 10px;

}

.colon{
font-size: 100px;
color: #787676;
}
.hours, .minutes, .seconds, .period, .date{
  background: -webkit-linear-gradient(180deg , #06beb6 , #48b1bf);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.period{
  font-size: 50px;
  font-weight: 800;
}

.date{
  display: flex;
  justify-content: center ;
  align-items: center;
  font-weight: 500;
  font-size: 50px;
}